* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background: transparent;
}
:root {
  --primary-color: #00dbd0;
  --font-color: #374b5c;
  --pale-blue: #f1fefe;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
